@model FindMyPet.Models.Observacoes

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar:</h1>

<hr />
<div class="row" style="background-color: #ffffff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); padding: 20px;">
    <div class="col-md-4 body-dtlhs">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ObservacaoDescricao" class="control-label"></label>
                <input asp-for="ObservacaoDescricao" class="form-control" />
                <span asp-validation-for="ObservacaoDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoLocal" class="control-label"></label>
                <input asp-for="ObservacaoLocal" class="form-control" />
                <span asp-validation-for="ObservacaoLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoData" class="control-label"></label>
                <input asp-for="ObservacaoData" class="form-control" />
                <span asp-validation-for="ObservacaoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <input asp-for="AnimalId" class="form-control" />
                <span asp-validation-for="AnimalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SALVAR" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div style="margin-top: 20px;">
        <a asp-action="Index" class="link">Voltar</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
