@{
    ViewData["Title"] = "Inicial";
}

<div class="caixa">
    <p class="titulo">Perdi meu Pet</p>
    <a class="procurar" asp-area="" asp-controller="Animal" asp-action="Index">Quero encontrar meu pet</a>
</div>

<div class="caixa">
    <p class="titulo">Achei um Pet</p>
    <a class="procurar" asp-area="" asp-controller="Observacoes" asp-action="Index">Quero encontrar o dono</a>
</div>